<div>
    <section class="ms-5">
        <div class="col-12">
            <div class="row">
                <div>
                    <h2>{{name}}</h2>
                </div>
                <div class="card">
                    <div class="m-2">
                        <date>{{birthdate}}</date>
                    </div>
                    <div>
                        <address class="ms-2">
                            {{birthplace}}
                        </address>
                    </div>
                    <div>
                        <date class="ms-2">
                            {{deathdate}}
                        </date>
                    </div>
                    <div>
                        <address class="ms-2">
                            {{deathplace}}
                        </address>
                    </div>
                    <div class="ms-2">
                        {{nationality}}
                    </div>
                    <div class="ms-2">
                        {{occupation}}
                    </div>
                    <div class="ms-2 mb-2">
                        {{known_for}}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr class="my-5 ms-2 me-2">
    <section class="ms-5">
        <div>
            {{> title data='Education'}}
            <div class="col-12">
                <div class="row">
                    <div class="card">
                        {{#each education}}
                        <div class="ms-2 mt-2">
                            {{degree}}
                        </div>
                        <div class="ms-2">
                            {{field}}
                        </div>
                        <div class="ms-2">
                            {{institution}}
                        </div>
                        <div class="ms-2 mb-2">
                            {{year}}
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr class="my-5 ms-2 me-2">
    <section class="ms-5">

        {{> title data='Notable_publications'}}

        <div class="col-12">
            <div class="row">
                <div class="card">
                    {{#each notable_publications}}
                    <div class="ms-2 mt-2">
                        {{title}}
                    </div>
                    <div class="ms-2">
                        {{year}}
                    </div>
                    <div class="ms-2 mb-2">
                        {{publisher}}
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </section>

    <hr class="my-5 ms-2 me-2">
    <section class="ms-5">
        {{> title data='Partners'}}
        <div class="col-12">
            <div class="row">
                <div class="card">
                    {{#each partners}}
                    <div class="ms-2 mt-2">
                        {{name}}
                    </div>
                    <div class="ms-2">
                        {{relationship}}
                    </div>
                    <div class="ms-2 mb-2">
                        {{years}}
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </section>
    <hr class="my-5 ms-2 me-2">
    <section class="ms-5">
        {{> title data='Awards'}}
        <div class="col-12">
            <div class="row">
                <div class="card">
                    {{#each awards}}
                    <div class="ms-2 mt-2">
                        {{title}}
                    </div>
                    <div class="ms-2">
                        {{year}}
                    </div>
                    <div class="ms-2 mb-2">
                        <description>
                            {{description}}
                        </description>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </section>
    <hr class="ms-2 my-5 me-2">
    <section class="ms-5">
        {{> title data='Influences'}}
        <div class="col-12">
            <div class="row">
                <div class="card">
                    <div class="m-2">
                        {{influences}}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr class="ms-2 my-5 me-2">
    <section class="ms-5">
        {{> title data='Influenced'}}
        <div class="col-12">
            <div class="row">
                <div class="card">
                    <div class="m-2">
                        {{influenced}}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr class="my-5 ms-2 me-2">
    <section class="ms-5">
        {{> title data='Quotes'}}
        <div class="col-12">
            <div class="row">
                <div class="card">
                    <div class="m-2">
                        {{quotes}}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr class="my-5 ms-2 me-2">
    <section class="ms-5">
        {{> title data='Major_discoveries'}}
        <div class="col-12">
            <div class="row">
                <div class="card">
                    {{#each major_discoveries}}
                    <div class="ms-2 mt-2">
                        {{title}}
                    </div>
                    <div class="ms-2">
                        {{year}}
                    </div>
                    <div class="ms-2 mb-2">
                        <description>
                            {{description}}
                        </description>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </section>
    <hr class="my-5 ms-2 me-2">
    <section class="ms-5">
        {{> title data='Contributions'}}
        <div class="col-12">
            <div class="row">
                <div class="card">
                    {{#with contributions}}
                    <div class="ms-2 mt-2">
                        {{title}}
                    </div>
                    <div class="ms-2">
                        <description>
                            {{description}}
                        </description>
                    </div>
                    <div class="ms-2">
                        {{year}}
                    </div>
                    <div class="ms-2 mb-2">
                        {{field}}
                    </div>
                    {{/with}}
                </div>
            </div>
        </div>
    </section>
</div>